body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(131, 44, 253), rgb(223, 159, 243));
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

img {
    max-width: 100%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
}

.texto-general {
    color: rgb(255, 255, 255)  ;
}